In [1]:
import requests
from bs4 import BeautifulSoup
import pprint as p
import pandas as pd
import numpy as np
import re

In [78]:
url = (f"https://www.basketball-reference.com/contracts/players.html")
print(url)
#response = requests.get(url)  
#html_soup = BeautifulSoup(response.content,"lxml")

https://www.basketball-reference.com/contracts/players.html

In [79]:
url = (f"https://www.basketball-reference.com/contracts/players.html")
table = pd.read_html(url)
table = table[0]

In [80]:
table.head()

table_2018 = cleaning(table,2018)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

### clean and remove rows where there is no player

In [83]:
def cleaning(table_here, year):
    table_here.columns = table_here.columns.droplevel()
    table_here = table_here.query('Player != "Salary" and Player != "Player"')
    table_here.reset_index(inplace=True, drop=True)
    table_here['year'] = year
    return table_here

In [59]:
table_all.head()

,Rk,Player,Tm,2018-19,2019-20,2020-21,2021-22,2022-23,2023-24,Signed Using,Guaranteed,year
0,1,Stephen Curry,GSW,"$37,457,154","$40,231,758","$43,006,362","$45,780,966",NaN,NaN,Bird Rights,"$166,476,240",2018
1,2,Chris Paul,HOU,"$35,654,150","$38,506,482","$41,358,814","$44,211,146",NaN,NaN,NaN,"$159,730,592",2018
2,3,Russell Westbrook,OKC,"$35,654,150","$38,178,000","$41,006,000","$43,848,000","$46,662,000",NaN,Bird Rights,"$158,686,150",2018
3,4,LeBron James,LAL,"$35,654,150","$37,436,858","$39,219,565","$41,002,273",NaN,NaN,NaN,"$113,310,573",2018
4,5,Blake Griffin,DET,"$32,088,932","$34,234,964","$36,595,996","$38,957,028",NaN,NaN,Bird Rights,"$102,919,892",2018

### get 2017 data

In [93]:
url = (f"https://web.archive.org/web/20180128124603/https://www.basketball-reference.com/contracts/players.html")
table = pd.read_html(url)

In [94]:
table = table[2]
table.head()

,Unnamed: 0_level_0,Salary,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,Unnamed: 10_level_0
,Rk,Player,Tm,2017-18,2018-19,2019-20,2020-21,2021-22,2022-23,Signed Using,Guaranteed
0,1,Stephen Curry,GSW,"$34,682,550","$37,457,154","$40,231,758","$43,006,362","$45,780,966",NaN,Bird Rights,"$201,158,790"
1,2,LeBron James,CLE,"$33,285,709","$35,607,968",NaN,NaN,NaN,NaN,Early Bird,"$33,285,709"
2,3,Paul Millsap,DEN,"$31,269,231","$29,730,769","$30,500,000",NaN,NaN,NaN,Cap space,"$61,000,000"
3,4,Gordon Hayward,BOS,"$29,727,900","$31,214,295","$32,700,690","$34,187,085",NaN,NaN,Cap space,"$93,642,885"
4,5,Blake Griffin,LAC,"$29,512,900","$31,873,932","$34,234,964","$36,595,996","$38,957,028",NaN,Bird Rights,"$132,217,792"

In [95]:
table_2017 = cleaning(table,2017)
#table_2017.head()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

#### get 2016 data

In [102]:
url = (f"https://web.archive.org/web/20161204211657/https://www.basketball-reference.com/contracts/players.html")
table = pd.read_html(url)
table = table[2]
table_2016 = cleaning(table,2016)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [103]:
table_2016

,Rk,Player,Tm,2016-17,2017-18,2018-19,2019-20,2020-21,2021-22,Signed Using,Guaranteed,year
0,1,LeBron James,CLE,"$30,963,450","$33,285,709","$35,607,968",NaN,NaN,NaN,Early Bird,"$64,249,159",2016
1,2,DeMar DeRozan,TOR,"$26,540,100","$27,739,975","$27,739,975","$27,739,975","$27,739,975",NaN,Cap Space,"$109,760,025",2016
2,3,Russell Westbrook,OKC,"$26,540,100","$28,530,608","$30,670,404",NaN,NaN,NaN,Bird Rights,"$55,070,708",2016
3,4,Mike Conley,MEM,"$26,540,100","$28,530,608","$30,521,115","$32,511,623","$34,504,132",NaN,Cap Space,"$140,529,829",2016
4,5,James Harden,HOU,"$26,540,100","$28,299,339","$30,431,854","$32,703,493",NaN,NaN,Bird Rights,"$85,271,293",2016
5,6,Kevin Durant,GSW,"$26,540,100","$27,734,406",NaN,NaN,NaN,NaN,Cap Space,"$26,540,100",2016
6,7,Al Horford,BOS,"$26,540,100","$27,734,405","$28,928,710","$30,123,015",NaN,NaN,Cap Space,"$83,203,215",2016
7,8,Dirk Nowitzki,DAL,"$25,000,000","$25,000,000",NaN,NaN,NaN,NaN,Bird Rights,"$25,000,000",2016
8,9,Carmelo Anthony,NYK,"$24,559,380","$26,243,760","$27,928,140",NaN,NaN,NaN,Bird Rights,"$50,803,140",2016
9,10,Damian Lillard,POR,"$24,328,425","$26,153,057","$27,977,689","$29,802,321","$31,626,953",NaN,1st Round Pick,"$139,888,445",2016
10,11,Chris Bosh,MIA,"$23,741,060","$25,289,390","$26,837,720",NaN,NaN,NaN,Bird Rights,"$75,868,170",2016
11,12,Dwyane Wade,CHI,"$23,200,000","$23,800,000",NaN,NaN,NaN,NaN,Cap Space,"$23,200,000",2016
12,13,Dwight Howard,ATL,"$23,180,275","$23,500,000","$23,819,725",NaN,NaN,NaN,Cap Space,"$70,500,000",2016
13,14,Chris Paul,LAC,"$22,868,828","$24,268,960",NaN,NaN,NaN,NaN,Bird Rights,"$22,868,828",2016
14,15,Bradley Beal,WAS,"$22,116,750","$23,775,506","$25,434,263","$27,093,019","$28,751,775",NaN,Cap Space,"$127,171,313",2016
15,16,Anthony Davis,NOP,"$22,116,750","$23,775,506","$25,434,263","$27,093,019","$28,751,775",NaN,1st Round Pick,"$127,171,313",2016
16,17,Hassan Whiteside,MIA,"$22,116,750","$23,775,506","$25,434,263","$27,093,018",NaN,NaN,Cap Space,"$71,326,519",2016
17,18,Chandler Parsons,MEM,"$22,116,750","$23,112,004","$24,107,258","$25,102,511",NaN,NaN,Cap Space,"$94,438,523",2016
18,19,Andre Drummond,DET,"$22,116,750","$23,775,506","$25,434,263","$27,093,019","$28,751,775",NaN,Cap Space,"$98,419,538",2016
19,20,Harrison Barnes,DAL,"$22,116,750","$23,112,004","$24,107,258","$25,102,512",NaN,NaN,Cap Space,"$69,336,012",2016
20,21,Derrick Rose,NYK,"$21,323,250",NaN,NaN,NaN,NaN,NaN,Bird Rights,"$21,323,250",2016
21,22,Marc Gasol,MEM,"$21,165,675","$22,642,350","$24,119,025","$25,595,700",NaN,NaN,Bird Rights,"$67,927,050",2016
22,23,DeAndre Jordan,LAC,"$21,165,675","$22,642,350","$24,119,025",NaN,NaN,NaN,Bird Rights,"$43,808,025",2016
23,24,Kevin Love,CLE,"$21,165,675","$22,642,350","$24,119,025","$25,595,700",NaN,NaN,Bird Rights,"$67,927,050",2016
24,25,Brook Lopez,BRK,"$21,165,675","$22,642,350",NaN,NaN,NaN,NaN,Bird Rights,"$43,808,025",2016
25,26,Nicolas Batum,CHO,"$20,869,566","$22,434,783","$24,000,000","$25,565,217","$27,130,434",NaN,Cap Space,"$92,869,566",2016
26,27,LaMarcus Aldridge,SAS,"$20,575,005","$21,461,010","$22,347,015",NaN,NaN,NaN,Cap Space,"$42,036,015",2016
27,28,Blake Griffin,LAC,"$20,140,838","$21,373,950",NaN,NaN,NaN,NaN,Bird Rights,"$41,514,788",2016
28,29,Paul Millsap,ATL,"$20,072,033","$21,472,407",NaN,NaN,NaN,NaN,Bird Rights,"$20,072,033",2016
29,30,Ryan Anderson,HOU,"$18,735,364","$19,578,455","$20,421,546","$21,264,635",NaN,NaN,Cap Space,"$80,000,000",2016
...,...,...,...,...,...,...,...,...,...,...,...,...
526,527,Jarrod Uthoff,TOR,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",2016
527,528,Dionte Christmas,PHI,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",2016
528,529,Cat Barber,PHI,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",2016
529,530,Reggie Williams,OKC,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",2016
530,531,Alex Caruso,OKC,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",2016
531,532,Ben Bentil,IND,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",2016
532,533,Julyan Stone,IND,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",2016
533,534,Isaiah Taylor,HOU,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",2016
534,535,Scott Wood,GSW,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",2016
535,536,Cameron Jones,GSW,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",2016
536,537,Elgin Cook,GSW,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",2016
537,538,Nate Wolters,DEN,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",2016
538,539,D.J. Kennedy,DEN,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",2016
539,540,Damion Lee,BOS,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",2016
540,541,Matt Costello,ATL,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",2016
541,542,Beau Beech,BRK,"$45,000",NaN,NaN,NaN,NaN,NaN,NaN,"$45,000",2016
542,543,Alex Poythress,IND,"$35,381",NaN,NaN,NaN,NaN,NaN,NaN,"$35,381",2016
543,544,D.J. Stephens,MEM,"$35,000",NaN,NaN,NaN,NaN,NaN,NaN,"$35,000",2016
544,545,Phil Pressey,GSW,"$35,000",NaN,NaN,NaN,NaN,NaN,NaN,"$35,000",2016
545,546,Matt Costello,MEM,"$31,500",NaN,NaN,NaN,NaN,NaN,NaN,"$31,500",2016
546,547,Nikola Jovanovic,DET,"$30,000",NaN,NaN,NaN,NaN,NaN,NaN,"$30,000",2016
547,548,Tony Wroten,MEM,"$25,000",NaN,NaN,NaN,NaN,NaN,NaN,"$25,000",2016
548,549,Nick Zeisloft,IND,"$25,000",NaN,NaN,NaN,NaN,NaN,NaN,"$25,000",2016
549,550,Jalen Jones,BOS,"$25,000",NaN,NaN,NaN,NaN,NaN,NaN,"$25,000",2016
550,551,Marcus Georges-Hunt,BOS,"$25,000",NaN,NaN,NaN,NaN,NaN,NaN,"$25,000",2016
551,552,Jameel Warney,DAL,"$20,000",NaN,NaN,NaN,NaN,NaN,NaN,"$20,000",2016
552,553,Dahntay Jones,CLE,"$18,255",NaN,NaN,NaN,NaN,NaN,NaN,"$18,255",2016
553,554,Jordan Farmar,SAC,"$16,595",NaN,NaN,NaN,NaN,NaN,NaN,"$16,595",2016
554,555,Ray McCallum,DET,"$11,949",NaN,NaN,NaN,NaN,NaN,NaN,"$11,949",2016
555,556,P.J. Hairston,HOU,"$11,534",NaN,NaN,NaN,NaN,NaN,NaN,"$11,534",2016

### get 2015 data

In [ ]:
url = (f"https://web.archive.org/web/20161204211657/https://www.basketball-reference.com/contracts/players.html")
table = pd.read_html(url)
table = table[2]
table_2016 = cleaning(table,2016)